.title
  %h2 ログイン
  %h4 登録したメールアドレスとパスワードを入力してください。
  %h4 (未登録の場合はページ下部の「新規会員登録へ」から新規登録を行ってください)

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    %p メールアドレス
    = f.email_field :email, autofocus: true, autocomplete: "Email"
  .field
    %p パスワード
    = f.password_field :password, autocomplete: "current-password"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :'パスワードを保存しますか？'
  .actions
    = f.submit "ログインする", class:'login-btn'
= render "users/shared/links"
